<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd




	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 先配置C3P0的连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///crm?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

  <import resource="classpath:applicationContext-common.xml"/>

    <!--&lt;!&ndash; 配置客户模块 &ndash;&gt;-->
    <!--<bean id="customerAction" class="com.itheima.web.action.CustomerAction" scope="prototype">-->
    <!--<property name="customerService" ref="customerService"/>-->
    <!--</bean>-->

    <!--<bean id="customerService" class="com.itheima.service.CustomerServiceImpl">-->
    <!--<property name="customerDao" ref="customerDao"/>-->
    <!--</bean>-->

    <!--<bean id="customerDao" class="com.itheima.dao.CustomerDaoImpl">-->
    <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->


</beans>












