span.error {
    color: #ff0000;
}


#top TD {
    FONT-SIZE: 12px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#top DIV {
    FONT-SIZE: 12px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#top P {
    FONT-SIZE: 12px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


#menu TD {
    FONT-SIZE: 11px;
    COLOR: #003366;
    FONT-FAMILY: Verdana
}

#menu  DIV {
    FONT-SIZE: 11px;
    COLOR: #003366;
    FONT-FAMILY: Verdana
}

#menu P {
    FONT-SIZE: 11px;
    COLOR: #003366;
    FONT-FAMILY: Verdana
}

#menu .mainMenu {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    cursor: pointer;
    COLOR: #000000
}

#menu A.style2:link {
    PADDING-LEFT: 4px;
    COLOR: #0055bb;
    TEXT-DECORATION: none
}

#menu A.style2:visited {
    PADDING-LEFT: 4px;
    COLOR: #0055bb;
    TEXT-DECORATION: none
}

#menu A.style2:hover {
    PADDING-LEFT: 4px;
    COLOR: #ff0000;
    TEXT-DECORATION: none
}

#menu A.active {
    PADDING-LEFT: 4px;
    COLOR: #ff0000;
    TEXT-DECORATION: none
}

#menu .span {
    COLOR: #ff0000;
}


#menu{
    width: 20%;
    float: left;
}
#content{
    width: 80%;
    float: right;
}